
build/prettyCRISpy/xref-prettyCRISpy.html
build/prettyCRISpy/warn-prettyCRISpy.txt
build/prettyCRISpy/Tree-01.toc
build/prettyCRISpy/Tree-00.toc
build/prettyCRISpy/PYZ-00.toc
build/prettyCRISpy/PYZ-00.pyz
build/prettyCRISpy/prettyCRISpy.exe.manifest
build/prettyCRISpy/PKG-00.toc
build/prettyCRISpy/PKG-00.pkg
build/prettyCRISpy/EXE-00.toc
build/prettyCRISpy/Analysis-00.toc
*.pyc
dist/crispy_logo_RL.jpg
dist/Miller-Plate01-B07-CTTCCGAATT-CACAGT_S19_L001.assembled.fastq
dist/Miller-Plate01-B08-ACATTGGGTT-CACAGT_S20_L001.assembled.fastq
dist/Miller-Plate01-B09-CCAGCTGTAC-CACAGT_S21_L001.assembled.fastq
dist/prettyCRISpy.exe
dist/prettyCRISpy.zip
dist/prettyCRISpy_Installer.exe
dist/prettyCRISpy_w_SampleData.exe
dist/prettyCRISpy_w_SampleData.zip
Miller-Plate01-B07-CTTCCGAATT-CACAGT_S19_L001.assembled.fastq
Miller-Plate01-B08-ACATTGGGTT-CACAGT_S20_L001.assembled.fastq
Miller-Plate01-B09-CCAGCTGTAC-CACAGT_S21_L001.assembled.fastq
prettyCRISpy.spec
prettyCRISpy.sublime-project
prettyCRISpy.sublime-workspace
prettyCRISpy.zip
results_counter .txt
